<h1>ようこそ</h1>
<p>トップページです。</p>
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="#">Top</a>
  <a class="nav-item nav-link" href="#">選手一覧</a>
  <a class="nav-item nav-link" href="#">登録</a>
  <a class="nav-item nav-link disabled" href="#">管理者</a>
</nav>